/*
CONTEXT MENU
*/

#context-menu li {
	border: 1px solid #AAA;
	color: #777;
	background: #FFF;
	padding: 0.5rem;
	cursor: default;
}

#context-menu li:first-child {
	border-top-left-radius: var(--rad);
	border-top-right-radius: var(--rad);
}
#context-menu li:last-child {
	border-bottom-left-radius: var(--rad);
	border-bottom-right-radius: var(--rad);
}
#context-menu li:not(:first-child) {
	border-top: none;
}

#context-menu li:hover {
  background: var(--prim-dark);
  color: var(--pri-light);
}