.sticker {
  min-width: 15rem;
  border-radius: var(--rad);
  background-color: hsl(51, 35%, 90%);
	position: absolute;
	padding: 0.25rem;
}
.sticker .move:hover {
  cursor: grab;
}
.sticker .move:active {
  cursor: grabbing;
}
.sticker .menu span {
	cursor: default;
}

.sticker .menu {
	float: right;
  width: 2.5em;
  height: 2.5em;
	border-radius: 2.5em;
	line-height: 2.5em;
	text-align: center;
	margin-left: 0.25rem;
  background: rgba(0,0,0,.20);
}


.sticker .content {
  padding: 0 .25rem;
  margin-bottom: .25rem;
}
